<html>
    <head>
        {{ render_partial('partials/headIncludes.html') }}
    </head>
    <body>
    {{ render_partial('partials/header.html') }}
        <div class="container"></div>
            <div class="row">
                <div class="col-4">
                    <form action="/tagderausbildung/register" method="post" class="needs-validation" novalidate>
                        <div class="container">
                            <div class="mb-3">
                                <div>Ansprechpartner</div>
                                <input placeholder="Vorname" type="text" name="firstName" class="form-control {% if errors and "firstName" in errors.keys() %}is-invalid{% endif %}" required>
                                {{ render_partial('partials/errordisplay.html', errors=errors, fieldKey="firstName") }}
                                <input placeholder="Nachname" type="text" name="lastName" class="form-control {% if errors and "lastName" in errors.keys() %}is-invalid{% endif %}" required>
                                {{ render_partial('partials/errordisplay.html', errors=errors, fieldKey="lastName") }}
                                <input placeholder="E-Mail" type="email" name="email" class="form-control {% if errors and "email" in errors.keys() %}is-invalid{% endif %}" required>
                                {{ render_partial('partials/errordisplay.html', errors=errors, fieldKey="email") }}
                                <input placeholder="telephone" type="text" name="telephone" class="form-control {% if errors and "telephone" in errors.keys() %}is-invalid{% endif %}" required>
                                {{ render_partial('partials/errordisplay.html', errors=errors, fieldKey="telephone") }}
                                <input placeholder="Fax" type="text" name="fax" class="form-control {% if errors and "fax" in errors.keys() %}is-invalid{% endif %}" required>
                                {{ render_partial('partials/errordisplay.html', errors=errors, fieldKey="fax") }}
                            </div>
                            <div class="mb-3 form-check">
                                {% for event in events %}
                                <label>
                                    <input type="checkbox" name="events[]" value="{{ event.uid }}">
                                    {{ event.date }}
                                </label>
                                <div class="mb-3">
                                    <label>
                                        <input type="checkbox" name="booth{{ event.uid }}">
                                        Ich mochte einen Stand beantragen
                                    </label>
                                    {% set tablesKey = "tables" ~ event.uid %}
                                    <input type="number" placeholder="Benötigte Tische" name="{{ tablesKey }}" class="form-control {% if errors and tablesKey in errors.keys() %}is-invalid{% endif %}">
                                    {{ render_partial('partials/errordisplay.html', errors=errors, fieldKey=tablesKey) }}

                                    {% set chairsKey = "chairs" ~ event.uid %}
                                    <input type="number" placeholder="Benötigte Stühle" name="{{ chairsKey }}" class="form-control {% if errors and chairsKey in errors.keys() %}is-invalid{% endif %}">
                                    {{ render_partial('partials/errordisplay.html', errors=errors, fieldKey=chairsKey) }}
                                </div>
                                <div class="mb-3">
                                    <label>
                                        <input type="checkbox" name="technicalLecture{{ event.uid }}">
                                        Ich mochte einen Fachvortrag halten
                                    </label>
                                    {% set technicalLectureTitelKey = "technicalLectureTitle" ~ event.uid %}
                                    <input type="text" placeholder="Vortrag Titel" name="{{ technicalLectureTitelKey }}" class="form-control {% if errors and technicalLectureTitelKey in errors.keys() %}is-invalid{% endif %}">
                                    {{ render_partial('partials/errordisplay.html', errors=errors, fieldKey=technicalLectureTitelKey) }}

                                    {% set technicalLectureDurationKey = "technicalLectureDuration" ~ event.uid %}
                                    <input type="number" placeholder="Vortrag Dauer" name="{{ technicalLectureDurationKey }}" class="form-control {% if errors and technicalLectureDurationKey in errors.keys() %}is-invalid{% endif %}">
                                    {{ render_partial('partials/errordisplay.html', errors=errors, fieldKey=technicalLectureDurationKey) }}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="mb-3 form-check">
                                <label>
                                    <input type="checkbox" name="donation">
                                    Ich möchte (oder habe) mich für den Förderverein des GSO Anmelden. (Das Anmeldeformular wird ihnen per E-Mail gesendet.)
                                </label>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    {{ render_partial('partials/footer.html') }}
    </body>