<html>
    <head>
        <title>Marketplace GSO - Fachvortrag Editieren</title>
        {{ render_partial('partials/headIncludes.html') }}
        <script src="/static/scripts/validateBootstrapFroms.js" defer></script>
    </head>
    <body>
        {{ render_partial('partials/header.html') }}
        <main>
            <div class="container mt-md-5">
                    <div class="row mt-md-3">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <h1>Anmeldung bearbeiten</h1>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row mt-md-3">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <form method="post" class="needs-validation" novalidate>
                                <div class="container" id="container-frame">
                                    <div class="row mt-md-3">
                                        <div class="col-xl-4"></div>
                                        <div class="col-xl-4 col-sm-12  mt-sm-3">
                                            <label for="first_name" class="form-label">Vorname:</label>
                                            <input class="form-control" name="first_name" type="text" value="{{ lecture.first_name }}" id="first_name", placeholder="Vorname" required>
                                            <div class="invalid-feedback">Bitte füllen Sie dieses Feld aus.</div>
                                        </div>
                                        <div class="col-xl-4"></div>
                                    </div>
                                    <div class="row mt-md-3">
                                        <div class="col-xl-4"></div>
                                        <div class="col-xl-4 col-sm-12">
                                            <label for="last_name" class="form-label">Nachname:</label>
                                            <input class="form-control" name="last_name" type="text" value="{{ lecture.last_name }}" id="last_name" placeholder="Nachname" required>
                                            <div class="invalid-feedback">Bitte füllen Sie dieses Feld aus.</div>
                                        </div>
                                        <div class="col-xl-4 col-sm-12"></div>
                                    </div>
                                    <div class="row mt-md-3">
                                        <div class="col-xl-4"></div>
                                        <div class="col-xl-4 col-sm-12">
                                            <label for="email" class="form-label">E-Mail:</label>
                                            <input class="form-control" name="email" type="email" value="{{ lecture.email }}" id="email" placeholder="E-Mail" required>
                                            <div class="invalid-feedback">Bitte geben sie eine gültige E-Mail-Addresse an.</div>
                                        </div>
                                        <div class="col-xl-4 col-sm-12"></div>
                                    </div>
                                    <div class="row mt-md-3">
                                        <div class="col-xl-4"></div>
                                        <div class="col-xl-4 col-sm-12">
                                            <label for="telephone" class="form-label">Telefon:</label>
                                            <input class="form-control" name="telephone" type="tel" value="{{ lecture.telephone }}" id="telephone", placeholder="Telefon" required>
                                            <div class="invalid-feedback">Bitte füllen Sie dieses Feld aus.</div>
                                        </div>
                                        <div class="col-xl-4 col-sm-12"></div>
                                    </div>
                                    <div class="row mt-md-3">
                                        <div class="col-xl-4"></div>
                                        <div class="col-xl-4 col-sm-12">
                                            <label for="note" class="form-label">Anmerkung:</label>
                                            <input class="form-control" name="note" type="text" value="{{ lecture.note }}" id="note" placeholder="Anmerkung" required>
                                            <div class="invalid-feedback">Bitte füllen Sie dieses Feld aus.</div>
                                        </div>
                                        <div class="col-xl-4 col-sm-12"></div>
                                    </div>
                                    <div class="row mt-md-3">
                                        <div class="col-xl-4"></div>
                                        <div class="col-xl-4 col-sm-12">
                                            <label for="topic" class="form-label">Thema:</label>
                                            <input class="form-control" name="topic" type="text" value="{{ lecture.topic }}" id="topic" placeholder="Thema" required>
                                            <div class="invalid-feedback">Bitte füllen Sie dieses Feld aus.</div>
                                        </div>
                                        <div class="col-xl-4 col-sm-12"></div>
                                    </div>
                                    <div class="row mt-md-3">
                                        <div class="col-xl-4"></div>
                                        <div class="col-xl-4 col-sm-12">
                                            <label for="duration" class="form-label">Dauer:</label>
                                            <input class="form-control" name="duration" type="number" value="{{ lecture.duration }}" min="0", id="duration" placeholder="Dauer">
                                            <div class="invalid-feedback">Bitte füllen Sie dieses Feld aus.</div>
                                        </div>
                                        <div class="col-xl-4 col-sm-12"></div>
                                    </div>
                                    <div class="row mt-md-3">
                                        <div class="col-xl-4 col-sm-2"></div>
                                        <div class="col-xl-4 col-sm-12 text-end">
                                            <div class="d-grid gap-2">
                                                <button type="submit" class="btn btn-primary mb-3">Speichern</button>
                                            </div>
                                        </div>
                                        <div class="col-xl-4"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
        </main>
        {{ render_partial('partials/footer.html') }}
    </body>
</html>
