<html>
    <head>
        <title>Marketplace GSO - Dashboard</title>
        {{ render_partial('partials/headIncludes.html') }}
    </head>
    <body>
        {{ render_partial('partials/header.html') }}
       
        <b>Informationstand</b>

        {% for boothWithDate in boothsWithDate %}
            <div>
                Date {{ boothWithDate.date }}
            </div>

            <div>
                Vorname: {{ boothWithDate.first_name }}
            </div>
            <div>
                Nachname: {{ boothWithDate.last_name }}
            </div>
            <div>
                E-Mail: {{ boothWithDate.email }}
            </div>
            <div>
                Telefon: {{ boothWithDate.telephone }}
            </div>
            <div>
                Status: {{ status_list[boothWithDate.status].name }}
            </div>
            <div>
                Stühle: {{ boothWithDate.chair_count }}
            </div>
            <div>
                Tische: {{ boothWithDate.table_count }}
            </div>
            <div>
                Anemerkung: {{ boothWithDate.note }}
            </div>
            <a href="{{ url_for('editBooth', boothUid=boothWithDate.uid) }}">Bearbeiten</a>
            <a href="{{ url_for('deleteBooth', boothUid=boothWithDate.uid) }}">Löschen</a>
        {% endfor %}


        <b>Vorträge</b>

        {% for lectureWithDate in lecturesWithDate %}
            <div>
                Date {{ lectureWithDate.date }}
            </div>

            <div>
                Vorname: {{ lectureWithDate.first_name }}
            </div>
            <div>
                Nachname: {{ lectureWithDate.last_name }}
            </div>
            <div>
                E-Mail: {{ lectureWithDate.email }}
            </div>
            <div>
                Telefon: {{ lectureWithDate.telephone }}
            </div>
            <div>
                Status: {{ status_list[lectureWithDate.status].name }}
            </div>
            <div>
                Anemerkung: {{ lectureWithDate.note }}
            </div>
            <div>
                Thema: {{ lectureWithDate.topic }}
            </div>
            <div>
                Dauer: {{ lectureWithDate.duration }}
            </div>
            <a href="{{ url_for('editLecture', lectureUid=lectureWithDate.uid) }}">Bearbeiten</a>
            <a href="{{ url_for('deleteLecture', lectureUid=lectureWithDate.uid) }}">Löschen</a>
        {% endfor %}

        {{ render_partial('partials/footer.html') }}
    </body>
</html>
