<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Marketplace GSO - Registrierung</title>
        <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        {{ render_partial('partials/header.html') }}
        <main class="pb-md-5">
            <div class="container mt-md-5">
                <div class="row mt-md-3">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <h1>Registrierung</h1>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="container">
                <div class="row mt-md-3">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <form action="/register" method="post">
                            <div class="container">
                                <div class="row mt-md-3">
                                    <div class="col-xl-2"></div>
                                    <div class="col-xl-4 col-sm-12 mt-sm-3">
                                        <label for="company" class="form-label">Firma</label>
                                        <input type="text" id="company" class="form-control" placeholder="Firma">
                                    </div>
                                    <div class="col-xl-4"></div>
                                    <div class="col-xl-2"></div>
                                </div>
                                <div class="row mt-md-3">
                                    <div class="col-xl-2"></div>
                                    <div class="col-xl-4 col-sm-12">
                                        <label for="email" class="form-label">E-Mail-Adresse</label>
                                        <input type="email" id="email" class="form-control" placeholder="E-Mail-Adresse">
                                    </div>
                                    <div class="col-xl-4 col-sm-12 mt-sm-3 mt-xl-0">
                                        <label for="repeatedemail" class="form-label">E-Mail-Adresse wiederholen</label>
                                        <input type="email" id="repeatedemail" class="form-control" placeholder="E-Mail-Adresse wiederholen">
                                    </div>
                                    <div class="col-xl-2"></div>
                                </div>
                                <div class="row mt-md-3">
                                    <div class="col-sm-2"></div>
                                    <div class="col-xl-4 col-sm-12">
                                        <label for="password" class="form-label">Passwort</label>
                                        <input type="password" id="password" class="form-control" placeholder="Passwort">
                                    </div>
                                    <div class="col-xl-4 mt-sm-3 mt-xl-0">
                                        <label for="repeatedpasssword" class="form-label">Passwort wiederholen</label>
                                        <input type="password" id="repeatedpasssword" class="form-control" placeholder="Passwort wiederholen">
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                                <div class="row mt-md-3">
                                    <div class="col-sm-2"></div>
                                    <div class="col-xl-4"></div>
                                    <div class="col-xl-4 col-sm-12 text-end">
                                        <button type="submit" class="btn btn-primary mb-3">Registrieren</button>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </main>
        {{ render_partial('partials/footer.html') }}
    </body>
</html>