<footer>
    <div class="container mt-md-5">
        <div class="row mt-md-3">
            <div class="col-1 col-xl-2"></div>
            <div class="col-3">
                <h6>Adresse und Kontakt</h6>
                <p>
                    Georg-Simon-Ohm-Berufskolleg<br>
                    Westerwaldstrasse 92<br>
                    51105 Köln
                </p>
                <p>
                    Telefon: 0221 83913-0<br>
                    Telefax: 0221 83913-28
                </p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                    </svg>
                    <a href="mailto:gso.buero@stadt-koeln.de">
                        gso.buero@stadt.koeln.de
                    </a>
                </p>
                <p>
                    Montag - Donnerstag 08.00-15.00 Uhr<br>
                    Freitag 08.00-11.00 Uhr
                </p>
            </div>
            <div class="col-3">
                <h6>Ansprechpartner</h6>
                <p>
                    <strong>Schulleiter:</strong><br>
                    OStD Bertram Wolf
                </p>
                <p>
                    <strong>stellv. Schulleiter:</strong><br>
                    StD Volker Stern
                </p>
                <p>
                    <strong>Sekretariat:</strong><br>
                    Frau Goepel<br>
                    Frau Lacin<br>
                    Frau Meier<br>
                </p>
            </div>
            <div class="col-4">
                <h6>Der Weg zu uns</h6>
                <p>
                    <strong>Linien S12, S19, RB25</strong><br>
                    Haltestelle Trimbornstraße
                </p>
                <p>
                    <strong>Linie 159</strong><br>
                    Haltestelle Sauerlandstraße
                </p>
                <p>
                    <strong>Linie 153</strong><br>
                    Haltestelle Esserstraße
                </p>
                <p>
                    Route mit
                    <a href="https://goo.gl/maps/qCwxrGjcksNx2QGY9" target="_blank">
                        Google Maps
                    </a><br>
                    Route mit
                    <a href="https://www.openstreetmap.org/?mlat=50.92740&mlon=6.99556#map=18/50.92740/6.99556" target="_blank">
                        OpenStreetMap
                    </a>
                </p>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</footer>