html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.navbar {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.navbar-nav {
    margin-left: 2rem;
}

li {
    float: left;
    list-style: none;
    margin-left: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
}

header a:hover {
    border-top: 2px solid black;
    padding-top: 6px;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    text-decoration: none;
}

.active {
    border-top: 2px solid lightgrey;
    padding-top: 6px;
}

form {
    border: 1px solid lightgrey;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

footer {
    background-color: #dddddd;
}

footer h6 {
    text-transform: uppercase;
    font-weight: bold;
}
