<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Marketplace GSO - Passwort ändern</title>
        {{ render_partial('partials/headIncludes.html') }}
    </head>

    <body>
        {{ render_partial('partials/header.html') }}

        <main class="container">
            
            <div class="row justify-content-center">
                <div class="col-lg-10">
                                        
                    <div class="row my-5 align-items-center">
                        <div class="col-12 col-md-6">
                            <h1>Passwort ändern</h1>
                        </div>
                        <div class="col-12 col-md-6 text-md-end">
                            <span><a href="{{ url_for('logout') }}">Abmelden</a></span>
                        </div>
                    </div>

                    <form action="{{ url_for('change_password') }}" method="post" class="needs-validation" novalidate>

                        <div id="container-frame" class="p-4 mb-5">
                            
                            {% if error == 1 %}
                            <div class="row justify-content-center">
                                <div class="col-xl-8 col-sm-12">
                                    <div class="alert alert-danger">
                                        Das alte Passwort ist falsch oder die neuen Passwörter stimmen nicht überein.
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                            {% if success == 1 %}
                            <div class="row justify-content-center">
                                <div class="col-xl-8 col-sm-12">
                                    <div class="alert alert-success">
                                        Ihr Passwort wurde erfolgreich geändert.
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                            <div class="row justify-content-center mt-md-3">
                                <div class="col-xl-4 col-sm-12">
                                    <label for="old_password" class="form-label">Altes Passwort</label>
                                    <input type="password" id="old_password" name="old_password" class="form-control" required>
                                    <div class="invalid-feedback">Bitte ausfüllen.</div>
                                </div>
                            </div>
                            
                            <div class="row justify-content-center mt-md-3">
                                <div class="col-xl-4 col-sm-12">
                                    <label for="new_password" class="form-label">Neues Passwort</label>
                                    <input type="password" id="new_password" name="new_password" class="form-control" required>
                                    <div class="invalid-feedback">Bitte ausfüllen.</div>
                                </div>
                            </div>
                            
                            <div class="row justify-content-center mt-md-3">
                                <div class="col-xl-4 col-sm-12">
                                    <label for="new_password_repeat" class="form-label">Neues Passwort wiederholen</label>
                                    <input type="password" id="new_password_repeat" name="new_password_repeat" class="form-control" required>
                                    <div class="invalid-feedback">Bitte wiederholen.</div>
                                </div>
                            </div>
                            
                            <div class="row justify-content-center mt-5">
                                <div class="col-xl-4 col-sm-12 text-end">
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-primary mb-2">
                                            Passwort ändern
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
        </main>

        {{ render_partial('partials/footer.html') }}
    </body>
</html>