<html>
    <head>
        <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
        <script src='static/bootstrap/js/bootstrap.min.js'></script>
    </head>
    <body>
        {% if user != []  %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Firma</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user[0]['company'] }}</td>
                    <td>{{ user[0]['first_name'] }}</td>
                    <td>{{ user[0]['last_name'] }}</td>
                </tr>
            </tbody>
        </table>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    {% if user[0]['role'] == 1 %}
                        <a href="/">Anmeldung zum Tag der Ausbildung</a>
                    {% endif %}
                    {% if user[0]['role'] == 2 %}
                        <a href="/">Verwaltung der Anmeldungen zum Tag der Ausbildung</a>
                    {% endif %}
                    {% if user[0]['role'] == 3 %}
                        <a href="/">Übersicht zum Tag der Ausbildung</a>
                    {% endif %}
                </div>
                <div class="col-4">
                    Profil bearbeiten
                </div>
                <div class="col-4">
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% if user == []  %}
            <a href="/login">Login</a>
        {% endif %}
    </body>
</html>