<html>
<head>
    <title>Marketplace GSO - Informationsstände</title>
    {{ render_partial('partials/headIncludes.html') }}
    <script src="/static/scripts/booths.js" defer></script>
    <script src="/static/scripts/eventDateFormater.js" defer></script>
</head>
<body>
{{ render_partial('partials/header.html') }}
<main class="pb-5">
    <div class="container mt-md-5">
        <div class="row mt-md-3">
            <div class="col-1"></div>
            <div class="col-6">
                <h1>Anmeldungen von Informationsständen</h1>
            </div>
            <div class="col-4 text-end">
                <span class="me-sm-1"><a href="{{ url_for('change_password') }}">Passwort ändern</a></span>
                <span class="me-sm-1"><a href="{{ url_for('logout') }}">Abmelden</a></span>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-2"></div>
            <div class="col-8 d-flex justify-content-center">
                <div class="col-4 d-flex justify-content-center flex-column">
                    <h5>Filtern nach Veranstaltung</h5>
                    <select id="eventSelect" class="w-75 mt-auto">
                        {% for event in events %}
                        <option {% if loop.first %}selected{% endif %} value="{{ event.uid }}" class="event-date">{{ event.date }} {{ event.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-4 d-flex justify-content-center flex-column">
                    <h5>Filtern nach Status</h5>
                    <select id="boothStatusSelect" class="w-75 mt-auto">
                        <option value="" selected>Bitte auswählen</option>
                        {% for status in status.values() %}
                        <option value="{{ status.uid }}">{{ status.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-4 d-flex justify-content-center flex-column">
                    <h5>Filtern nach Spenden</h5>
                    <select id="donationSelect" class="w-75 mt-auto">
                        <option value="" selected>Bitte auswählen</option>
                        <option value="1">Interesse</option>
                        <option value="0">kein Interesse</option>
                    </select>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="accordion accordion-flush" id="accordionExample">
                    {% for event in events %}
                        {% for eventBooth in eventBooths[event.uid] %}
                        <div class="accordion-item event-block" data-uid="{{ event.uid }}" data-status-uid="{{ eventBooth.status }}" data-donation-uid="{{ user[eventBooth.user].donation }}">
                            <h2 class="accordion-header" id="heading{{ eventBooth.uid }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ eventBooth.uid }}" aria-expanded="true" aria-controls="collapse{{ eventBooth.uid }}">
                                    <div class="col-3 col-lg-2 col-sm-4 col-md-3">
                                        <strong class="event-date">{{ event.date }}</strong>
                                    </div>
                                    <div class="col-8 col-lg-9 col-sm-6 col-md-8">
                                        <span class="text-decoration-underline">{{ user[eventBooth.user].company }}</span> - Vorname: {{ eventBooth.first_name }} - Nachname: {{ eventBooth.last_name }}
                                    </div>
                                </button>
                            </h2>
                            <div id="collapse{{ eventBooth.uid }}" class="accordion-collapse collapse" aria-labelledby="heading{{ eventBooth.uid }}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>Firma:</strong> {{ user[eventBooth.user].company }}<br>
                                    <strong>Status:</strong>
                                        {% if eventBooth.status == 1  %}
                                        <span class="text-primary">{{ status[eventBooth.status].name }}</span>
                                        <br>
                                        {% endif %}
                                        {% if eventBooth.status == 2  %}
                                        <span class="text-danger">{{ status[eventBooth.status].name }}</span>
                                        <br>
                                        {% endif %}
                                        {% if eventBooth.status == 3  %}
                                        <span class="text-success">{{ status[eventBooth.status].name }}</span>
                                        <br>
                                        {% endif %}
                                    <strong>E-Mail-Adresse:</strong> {{ eventBooth.email }}<br>
                                    <strong>Telefon:</strong> {{ eventBooth.telephone }}<br>
                                    <strong>Tische:</strong> {{ eventBooth.table_count }}<br>
                                    <strong>Stühle:</strong> {{ eventBooth.chair_count }}<br>
                                    <strong>Interesse an Spende:</strong>
                                        {% if user[eventBooth.user].donation == 1  %}
                                        <span class="text-success">Ja</span><br>
                                        {% endif %}
                                        {% if user[eventBooth.user].donation == 0  %}
                                        <span class="">Nein</span><br>
                                        {% endif %}
                                    <strong>Anmerkung:</strong><br><br>
                                    <a href="{{ url_for('boothsApi') }}"
                                       class="js-button btn btn-success"
                                       data-booth-id="{{ eventBooth.uid }}"
                                       data-action="accept">Annehmen</a>
                                    <a href="{{ url_for('boothsApi') }}"
                                       class="js-button btn btn-danger"
                                       data-booth-id="{{ eventBooth.uid }}"
                                       data-action="reject">Ablehnen</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</main>
{{ render_partial('partials/footer.html') }}
</body>
</html>
