<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
  <script src="static/bootstrap/js/bootstrap.min.js"></script>
  <style>
    .event-block { display: none; }
    .event-block.active { display: block; }
  </style>
</head>
<body>
  <div class="container">
    <a href="/booths">Anmeldungen der Stände</a>
    <br>
    <a href="/lectures">Anmeldungen der Fachvorträge</a>
    <br>
    <a href="/events">Veranstalltungen</a>
    <br>
    <a href="/events">Spenden</a>
  </div>
</body>
</html>
