<html>
    <head>
        <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
        <script src='static/bootstrap/js/bootstrap.min.js'></script>
    </head>
    <body>
        {% if user != [] and events != [] %}
        <div class="container">
            <ul>
                {% for event in events %}
                <li>
                    
                    <form action="{{ url_for('deleteEvent', uid=event.uid) }}" method="post">
                        <button type="submit">Delete</button>
                    </form> 
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if user == []  %}
            <a href="/login">Einloggen</a> oder <a href="/register">Registrieren</a>
        {% endif %}
    </body>
</html>