<html>
<head>
    <title>Marketplace GSO - Fachvorträge</title>
    {{ render_partial('partials/headIncludes.html') }}
    <script src="/static/scripts/lectures.js" defer></script>
</head>
<body>
{{ render_partial('partials/header.html') }}
<main class="pb-5">
    <div class="container mt-md-5">
        <div class="row mt-md-3">
            <div class="col-1"></div>
            <div class="col-6">
                <h1>Anmeldungen von Fachvorträgen</h1>
            </div>
            <div class="col-4 text-end">
                <span class="me-sm-1"><a href="{{ url_for('change_password') }}">Passwort ändern</a></span>
                <span class="me-sm-1"><a href="{{ url_for('logout') }}">Abmelden</a></span>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-2"></div>
            <div class="col-8 d-flex justify-content-center">
                <div class="col-6 d-flex justify-content-center flex-column">
                    <h5>Filtern nach Veranstaltung</h5>
                    <select id="eventSelect" class="w-75 mt-auto">
                        {% for event in events %}
                        <option {% if loop.first %}selected{% endif %} value="{{ event.uid }}" class="event-date">{{ event.date }} {{ event.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-6 d-flex justify-content-center flex-column">
                    <h5>Filtern nach Status</h5>
                    <select id="lectureStatusSelect" class="w-75 mt-auto">
                        {% for status in status.values() %}
                        <option {% if loop.first %}selected{% endif %} value="{{ status.uid }}">{{ status.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="accordion accordion-flush" id="accordionExample">
                    {% for event in events %}
                        {% for eventLecture in eventLectures[event.uid] %}
                        <div class="accordion-item event-block" data-uid="{{ event.uid }}" data-status-uid="{{ eventLecture.status }}">
                            <h2 class="accordion-header" id="heading{{ eventLecture.uid }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ eventLecture.uid }}" aria-expanded="true" aria-controls="collapse{{ eventLecture.uid }}">
                                    <div class="col-3 col-lg-2 col-sm-4 col-md-3">
                                        <strong class="event-date">{{ event.date }}</strong>
                                    </div>
                                    <div class="col-8 col-lg-9 col-sm-6 col-md-8">
                                        <span class="text-decoration-underline">{{ user[eventLecture.user].company }}</span> - Vorname: {{ eventLecture.first_name }} - Nachname: {{ eventLecture.last_name }}
                                    </div>
                                </button>
                            </h2>
                            <div id="collapse{{ eventLecture.uid }}" class="accordion-collapse collapse" aria-labelledby="heading{{ eventLecture.uid }}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>Firma:</strong> {{ user[eventLecture.user].company }}<br>
                                    <strong>Status:</strong>
                                        {% if eventLecture.status == 1  %}
                                        <span class="text-primary">{{ status[eventLecture.status].name }}</span>
                                        <br>
                                        {% endif %}
                                        {% if eventLecture.status == 2  %}
                                        <span class="text-danger">{{ status[eventLecture.status].name }}</span>
                                        <br>
                                        {% endif %}
                                        {% if eventLecture.status == 3  %}
                                        <span class="text-success">{{ status[eventLecture.status].name }}</span>
                                        <br>
                                        {% endif %}
                                    <strong>E-Mail-Adresse:</strong> {{ eventLecture.email }}<br>
                                    <strong>Telefon:</strong> {{ eventLecture.telephone }}<br>
                                    <strong>Thema:</strong> {{ eventLecture.topic }}<br>
                                    <strong>Dauer:</strong> {{ eventLecture.duration }}<br>
                                    <strong>Anmerkung:</strong><br><br>
                                    <a href="{{ url_for('lecturesApi') }}"
                                       class="js-button btn btn-success"
                                       data-lecture-id="{{ eventLecture.uid }}"
                                       data-action="accept">Annehmen</a>
                                    <a href="{{ url_for('lecturesApi') }}"
                                       class="js-button btn btn-danger"
                                       data-lecture-id="{{ eventLecture.uid }}"
                                       data-action="reject">Ablehnen</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</main>
{{ render_partial('partials/footer.html') }}
</body>
</html>
