<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
  <script src="static/bootstrap/js/bootstrap.min.js"></script>
  <style>
    .event-block { display: none; }
    .event-block.active { display: block; }
  </style>
</head>
<body>
  <div class="container">
    <select id="eventSelect">
    {% for event in events %}
        <option {% if loop.first %}selected{% endif %} value="{{ event.uid }}">{{ event.date }}</option>
    {% endfor %}
    </select>

    {% for event in events %}
    <div class="event-block" data-uid="{{ event.uid }}">
      <div>
        {% if eventLectures[event.uid] %}
        <h6>Stände</h6>
          {% for eventLecture in eventLectures[event.uid] %}
            <div>
              Unternehmen: INSERT_UNTERNEHMEN_HERE
              <br>
              Vorname: <span>{{ eventLecture.first_name }}</span>
              <br>
              Nachanme: <span>{{ eventLecture.last_name }}</span>
              <br>
              Status: <span>{{ eventLecture.status }}</span>
              <br>
              E-Mail: <span>{{ eventLecture.email }}</span>
              <br>
              Telefon: <span>{{ eventLecture.telephone }}</span>
              <br>
              Thema: <span>{{ eventLecture.topic }}</span>
              <br>
              Anmerkung: <span>{{ eventLecture.note }}</span>
              <br>
              Dauer: <span>{{ eventLecture.duration }}</span>
            </div>
            <button class="js-button" data-lecture-id="{{ eventLecture.uid }}" action="accept">Annehmen</button>
            <button class = "js-button" data-lecture-id="{{ eventLecture.uid }}" action="reject">Ablehnen</button>
            {{ eventLecture }}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

  <script>
    (function(){
      const select = document.getElementById('eventSelect');
      const blocks = document.querySelectorAll('.event-block');

      function showUid(uid) {
        blocks.forEach(b => {
          if (!uid) {
            b.classList.remove('active');
          } else {
            b.classList.toggle('active', b.dataset.uid === uid);
          }
        });
      }

      select.addEventListener('change', e => {
        showUid(e.target.value);
      });
      showUid(select.value);
    })();

    document.querySelectorAll('.js-button').forEach(btn =>
      btn.addEventListener('click', async event => {
        event.preventDefault();
        lectureId = btn.getAttribute('data-lecture-id');
        action = btn.getAttribute('action');

        response = '';

        if (action === 'accept') {
          response = await fetch('/api/lectures', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ 'action': action, 'uid': lectureId }),
          });
        }
        else if (action === 'reject') {
          response = await fetch('/api/lectures', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ 'action': action, 'uid': lectureId }),
          });
        }
      })
    );
  </script>
</body>
</html>
