<html>
    <head>
        <title>Marketplace GSO - Veranstaltungen</title>
        {{ render_partial('partials/headIncludes.html') }}
        <script src="/static/scripts/events.js" defer></script>
    </head>
    <body>
        {{ render_partial('partials/header.html') }}
        <main class="pb-md-5">
            <div class="container mt-md-5">
                <div class="row mt-md-3">
                    <div class="col-1"></div>
                    <div class="col-6">
                        <h1>Veranstaltungen</h1>
                    </div>
                    <div class="col-4 text-end">
                        <span class="me-sm-1"><a href="#">Passwort ändern</a></span>
                        <span class="me-sm-1"><a href="{{ url_for('logout') }}">Abmelden</a></span>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="container">
                <div class="row mt-md-3">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <form action="{{ url_for('events') }}" method="POST" class="needs-validation" novalidate>
                            <fieldset>
                                <legend>Veranstaltung erstellen</legend>
                                <div class="container" id="container-frame">
                                    <div class="row mt-md-3">
                                        <div class="col-xl-2"></div>
                                        <div class="col-xl-8 col-sm-12 mt-sm-3">
                                            <label for="name" class="form-label">Name</label>
                                            <input type="text" id="name" name="name" class="form-control" placeholder="Name" required>
                                            <div class="invalid-feedback">Bitte füllen Sie dieses Feld aus.</div>
                                        </div>
                                        <div class="col-xl-2"></div>
                                    </div>
                                    <div class="row mt-md-3">
                                        <div class="col-xl-2"></div>
                                        <div class="col-xl-4 col-sm-12 mt-sm-3">
                                            <label for="date" class="form-label">Datum</label>
                                            <input type="date" id="date" name="date" class="form-control" placeholder="Datum" required>
                                            <div class="invalid-feedback">Bitte füllen Sie dieses Feld aus.</div>
                                        </div>
                                        <div class="col-xl-4 col-sm-12 mt-sm-3">
                                            <label for="slots" class="form-label">Anzahl der Plätze</label>
                                            <input type="number" min="1" id="slots" name="slots" class="form-control" required>
                                            <div class="invalid-feedback">Bitte füllen Sie dieses Feld aus.</div>
                                        </div>
                                        <div class="col-xl-2"></div>
                                    </div>
                                    <div class="row mt-md-3">
                                        <div class="col-sm-2"></div>
                                        <div class="col-xl-4"></div>
                                        <div class="col-xl-4 col-sm-12 text-end">
                                            <button type="submit" class="btn btn-primary mb-3">Veranstaltung erstellen</button>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="container">
                <div class="row mt-md-3">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <h2>Liste aller Veranstaltungen</h2>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="container">
                <div class="row mt-md-3">
                    <div class="col-1"></div>
                    <div class="col-10">
                        {% if events != []  %}
                            <div class="container dashboard-action-frame">
                                <div class="row mt-md-3">
                                    <div class="col-xl-2 p-sm-4"></div>
                                    <div class="col-xl-8">
                                        <div class="row">
                                            {% for event in events %}
                                            <div class="col-xl-6 col-md-6 col-sm-12 mb-4 d-flex justify-content-center">
                                                <div class="card">
                                                    <img src="/static/images/tag-der-ausbildung-flyer.png" width="290" height="407" class="card-img-top" alt="Tag der Ausbildung">
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            <strong>{{event.name}}</strong>
                                                        </h5>
                                                        <p class="card-text">
                                                            <strong>Datum:</strong>
                                                            <span class="event-date">
                                                                {{event.date}}
                                                            </span><br>
                                                            <strong>Anzahl Plätze:</strong>
                                                                {{event.slots}}
                                                        </p>
                                                        <div class="d-grid gap-2 mt-auto">
                                                            <a href="{{ url_for('edit_event', uid=event.uid) }}" class="btn btn-primary">Bearbeiten</a>
                                                        </div>
                                                        <div class="d-grid gap-2 mt-2 text-center">
                                                            <a href="{{ url_for('delete_event', uid=event.uid) }}">Löschen</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-xl-2 p-sm-4"></div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </main>
        {{ render_partial('partials/footer.html') }}
    </body>
</html>
